.u-mb-sm {
  margin-bottom: 3rem;
}

.u-mt-sm {
  margin-top: 1rem;
}

.error-border {
  border-color: var(--color-primary-red);
}

.error-insert {
  visibility: visible;
}

.error-placeholder {
  color: var(--color-neutral-grayish-blue);
}
